*{
    margin: 2px;
    padding: 2px;
}

.navbar{
    /* background-color: red; */
    /* width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     */
}

.signin-background{
    background-image:url("../../public/images/pexels-photo-7130537.jpeg") ;
    margin-top: 5px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.signin-div-background{
    background-color: rgba(86, 141, 161, 0.767);
    width: 400px;
    height: 500px;
    border-radius: 5px;
}

.signin-text{
    font-size: large;
    font-weight: 700;
}

.text-format{
    display: flex;
    flex-direction: column;
    align-items: center;
}