*{
    margin: 2px;
    padding: 2px;
}

.navbar{
   background-color: #333;
   color: white;
}
.main_sub_navbar{
    background-color: #ada3a33b;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sub_nvbar_username{
      width: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;

}

.sub_navbar{
    width: 50%;
    height: 75px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: end;
    

}

.sub_navbar_elements{
    color: #333;
    font-size: 17px;
    text-decoration: none;
}
.signin-background{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-position{
    background-color: #ada3a33b;
    width: 37%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-background{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-position{
    background-color: #ada3a33b;
    width: 37%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home{
    width: auto;
    height: 900px;
    background-color: blue;
}

.otp{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otpbackground{
    background-color: #ada3a33b;
    width: 250px;
    height: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgetlogin{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgetLoginBackground{
    background-color: #ada3a33b;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}










